<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.support.design.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Design"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AppBarHorizontalScrollingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".AppBarLayoutCollapsePinActivity"
            android:theme="@style/Theme.TranslucentStatus"/>

        <activity
            android:name=".AppBarWithScrollbarsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>

        <activity android:name="android.support.v7.app.AppCompatActivity"/>

        <activity
            android:name=".BottomNavigationViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".BottomSheetBehaviorActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".BottomSheetBehaviorWithInsetsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".BottomSheetDialogActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".CoordinatorLayoutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".DynamicCoordinatorLayoutActivity"
            android:theme="@style/Theme.TranslucentStatus"/>

        <activity
            android:name=".FloatingActionButtonActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".ExpandableTransformationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".NavigationViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".SnackbarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".SnackbarWithTranslucentNavBarActivity"
            android:theme="@style/Theme.TranslucentNavBar"/>

        <activity
            android:name=".SnackbarWithFabActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".TabLayoutPoolingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".TabLayoutWithViewPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".TextInputLayoutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>